{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Table/main.css' %}">
    <title>TodoList</title>
    <style>
        .btn-memo {
            background-color: #ffd08a;
            border: 1px solid #ffd08a; 
            color : #fa7617; 
            font-weight: bold;
        }
        .btn-danger {
            background-color: #96e0f4;
            border: 1px solid #96e0f4; 
            color : #3475ef; 
            font-weight: bold;
            width: 70px;
            margin-left: 10px;
            margin-top: 1px;
            display: flex;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="box white-box">
            <img src="{% static 'chikawa.png' %}" width="150px" height="130px">
            <div class="name">Lee</div>
            <ul class="custom-list">
                <li>Todo Board</li>
                <li><a href="{% url 'timesheet' %}">Time Sheet</a></li>
            </ul>
            <a href="{% url 'loginsheet' %}">
                <button class="login-button">
                    Login / Logout
                </button>
            </a>
        </div>
        <div class="box gray-box">
            <div class="header-top">
                <h1>ToDo Board</h1>
                <div class="notice">
                    <button class="notification-button">
                    <span class="icon">&#128276;</span> <!-- 알림 아이콘 (종 모양) -->
                </button>
                </div>
            </div>

            <div class="date-con">
            
                <div class="datebox">
                    <div class="arrow left-arrow">
                        <button class="arrow-button">&#8592;</button> <!-- Left arrow -->
                    </div>
                    2024 / 08 / 02 Fri
                    <div class="arrow right-arrow">
                        <button class="arrow-button">&#8594;</button> <!-- Right arrow -->
                    </div>
                </div>
                
            </div>

            <div class="tabel-rabelborad">
                <div class="tabel-rabel">URL</div>
                <div class="tabel-rabel">DONE</div>
            </div>

            <div class="TodoList">
            <div class="table">
                <form action="./createTodo/" method="POST"> {% csrf_token %}
                <div class="table-box">
                    <input id="todoTable" name="todoTable" type="text" placeholder="제목을 적어주세요">
                    <input id="todoText" name="todoText" type="text" placeholder="메모할 내용을 적어주세요">
                    <button class="btn btn-memo" type="submit">Memo</button>
                </div> </form>
                
            </div>
            
            <div class="table">
                {% for todo, text in todo_text_pairs %}
                
                <form action="{% url 'Update_todo' %}" method="POST" onsubmit="return checkFrom();"> 
                    {% csrf_token %}
                    
                    <div class="table-box">
                        <input id="todoTable" name="todoTable" type="text" value="{{ todo.content }}">
                        <input id="todoText" name="todoText" type="text" value="{{ todo.text_content }}">
                        <input type="hidden" id="todoNum" name="todoNum" value="{{todo.id}}">
                        <input type="submit" class="btn btn-danger" value="change"/>
                    </div>
                    
                </form>
                
                {% endfor %}
                
                </div>
                


            <div class="table url">
                <form action="./createURL/" method="POST"> {% csrf_token %}
                <div class="table-box-url">
                    <div class="url-box">
                        <input id="todoURL" name="todoURL" type="text" placeholder="URL 입력">
                        <button class="btn btn-memo" type="submit">Memo</button>
                    </div>
                </div>
                </form>
                <form action="{% url 'Update_url' %}" method="POST" onsubmit="return checkFrom();"> 
                {% csrf_token %}
                {% for url in urls %}
                <div class="table-box-url">
                    <input id="todoURL" name="todoURL" type="text" value="{{ url.url_content }}">
                    <input type="hidden" id="urlNum" name="urlNum" value="{{url.id}}"></input>
                    <input type="submit" class="btn btn-danger" role="button" value="change"/>
                </div>
                {% endfor %}
                </form>
            </div>

            <div class="table done">
                <div class="table-box-done"></div>
                <div class="table-box-done"></div>
                <div class="table-box-done"></div>
            </div>
        </div>
        </div>
    </div>
           
      

</body>
</html>